.btn
  background: transparent
  border: 1px solid #fff
  color: #fff
  display: inline-block
  padding: 5px 15px
  @include transition
  outline: none
  line-height: 1em

  &--big
    padding: 10px 35px

  &:hover
    background: $decoration-color
    border-color: $decoration-color
