.btn
  display: inline-block
  @include transition
  outline: none
  border: 1px solid
  color: #fff
  font-size: 20px

.btn--empty
  background: transparent
  border-color: #fff
  height: 40px
  padding: 0 60px
  line-height: 34px

  &:hover
    background: $decoration-color
    border-color: $decoration-color

.btn--full
  background: $decoration-color
  border-color: $decoration-color
  height: 45px
  +letter-spacing(200)
  line-height: 40px
  padding: 0 25px
  border-radius: 25px

  &:hover
    background: darken($decoration-color, 10%)
    border-color: darken($decoration-color, 10%)
