.title
  margin: 0 0 1em
  font-weight: 400
  font-size: 35px
  @include letter-spacing(10)
  color: $darken-color

.pre-title
  color: $darken-color
  font-size: 16px
  @include letter-spacing(200)
  margin: 0 0 1em
  line-height: 1em
  font-weight: 400
