.start-block
  height: 100%
  position: relative
  background: url($img-dir + "first_bg.jpg") center no-repeat
  background-size: cover
  color: #fff
  text-align: center

  &:before
    content: ""
    @include fill
    background: #3e3f42
    opacity: .7

  .title
    color: inherit
    font-weight: 300

  &__text
    @include align
    max-width: 600px
    margin-top: 40px

    p:not(:last-child)
      margin: 0 0 25px